/*
Error: Invalid mixin "======".
        on line 9 of sass/default.sass

4: // Browser Reset
5: // -------------
6: // For a more complete reset, go to http://developer.yahoo.com/yui/reset/
7: <<<<<<< HEAD
8: @import "_config.sass"
9: =======
10: >>>>>>> 63278a599db802d2b406334882907010845d53a3
11: 
12: *
13:   margin: 0
14:   padding: 0

Backtrace:
sass/default.sass:9
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:1070:in `parse_mixin_definition'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:639:in `parse_line'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:525:in `build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:544:in `block in append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:543:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:543:in `append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:396:in `_to_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:396:in `run'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:62:in `process_result'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/exec/base.rb:52:in `parse'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid mixin \"======\".\A         on line 9 of sass/default.sass\A \A 4: // Browser Reset\A 5: // -------------\A 6: // For a more complete reset, go to http://developer.yahoo.com/yui/reset/\A 7: <<<<<<< HEAD\A 8: @import \"_config.sass\"\A 9: =======\A 10: >>>>>>> 63278a599db802d2b406334882907010845d53a3\A 11: \A 12: *\A 13:   margin: 0\A 14:   padding: 0"; }
