/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 28 of sass/style.sass

23: 
24: // Links
25: a
26:   &:link, &:visited
27: <<<<<<< HEAD
28:     color: #8F8F8F
29: =======
30:     color: blue
31: >>>>>>> 63278a599db802d2b406334882907010845d53a3
32:     text-decoration: none
33: 

Backtrace:
sass/style.sass:28
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:509:in `tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:396:in `_to_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:396:in `run'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:62:in `process_result'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/exec/base.rb:52:in `parse'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.6/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 28 of sass/style.sass\A \A 23: \A 24: // Links\A 25: a\A 26:   &:link, &:visited\A 27: <<<<<<< HEAD\A 28:     color: #8F8F8F\A 29: =======\A 30:     color: blue\A 31: >>>>>>> 63278a599db802d2b406334882907010845d53a3\A 32:     text-decoration: none\A 33: "; }
