// Custom
// ------
// This file is used to define custom overrides and
// style changes to be used for building your theme.
// If you wish to use the SCSS syntax, please use this.
// Documentation: http://sass-lang.com/docs/yardoc/_index.html

// Import variables and mixins to be used.
@import "_config.sass";
<<<<<<< HEAD
@import "_sprites.sass";

#navigation{
  display: flex;
  ul {
    margin-top: -2em;
    margin-bottom: 3em;
    li{
      padding-left: 2em;
      a{
        color: #2F5409;
        font-size: 16px;
      	&:hover{
          text-decoration: none;
          border-bottom: solid 9px #FBF7E4;    		
      	}
      }    	
    }  	
  }	
}
        
=======
@import "_sprites.sass";
>>>>>>> 63278a599db802d2b406334882907010845d53a3
